<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="img/favicon.png" type="image/png">
	<title>Geo Glyph</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="vendors/linericon/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
	<!-- main css -->
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/"><img src="/img/default.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/index">Home</a></li>
						  <li class="nav-item submenu dropdown">
								<a href="/signup" class="nav-link" role="button" aria-haspopup="true"
								 aria-expanded="false">Sign Up</a>
								<!-- <ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li>
									<li class="nav-item"><a class="nav-link" href="book-trip.html">Book trip</a></li>
									<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
								</ul> -->
							</li>
						  <li class="nav-item submenu dropdown">
								<a href="/login" class="nav-link" role="button" aria-haspopup="true"
								 aria-expanded="false">Login</a>
							</li>
						 <li class="nav-item"><a class="nav-link" href="https://kaiawalters.com/">Contact</a></li>
						</ul>
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item">
								<a href="/login" class="primary-btn">Login</a>
							</li>
              <li class="nav-item">
                <a href="/signup" class="primary-btn">Sign-Up</a>
              </li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="search_input" id="search_input_box">
				<div class="container">
					<form class="d-flex justify-content-between">
						<input type="text" class="form-control" id="search_input" placeholder="Search Here">
						<button type="submit" class="btn"></button>
						<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
					</form>
				</div>
			</div>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center justify-content-center">
					<div class="banner_content">
						<p>Share and connect local histories</p>
						<h2>Geo Glyph</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start Feature Area =================-->
	<section class="feature-area section_gap_top">
		<div class="container">
			<div class="row align-items-end justify-content-left">
				<div class="col-lg-12">
					<div class="main_title">
						<p>Coding with the purpose of</p>
						<h1>Empowering HyperLocal Historians</h1>
						<span class="title-widget-bg"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- single-feature -->
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<div class="feature-details">
							<h5>Share what is happening<br>
								 in your community</h5>
							<p>
								No matter where you are, something is always poppin' in the neighborhood. Share what's going <br> on whether it was last week or last year.
							</p>
							<a href="#" class="primary-btn mb-40">learn more</a>
						</div>
						<div class="feature-thumb">
							<img class="img-fluid" src="img/service/s1.png" alt="">
						</div>
					</div>
				</div>
				<!-- single-feature -->
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<div class="feature-details">
							<h5>Document local<br>
								history</h5>
							<p>
                Too often local histories are lost to gentrification,lack of communication between generations, and misinformation. Geo Glyph aims to place the power of the historian into the hands of the people who live in these communities.
							</p>
							<a href="#" class="primary-btn mb-40">Read More</a>
						</div>
						<div class="feature-thumb">
							<img class="img-fluid" src="img/service/s2.png" alt="">
						</div>
					</div>
				</div>
				<!-- single-feature -->
				<div class="col-lg-4 col-md-6">
					<div class="single-feature">
						<div class="feature-details">
							<h5>Encourage others <br> to learn about
								your community</h5>
							<p>
                A wise man once said, "Time is an illusion, and so are pants" all moments are connected and shape the world we live in, share the process by which your hood was formed.
							</p>
							<a href="#" class="primary-btn mb-40">Read More</a>
						</div>
						<div class="feature-thumb">
							<img class="img-fluid" src="img/service/s3.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Feature Area =================-->

	<!--================ Start CTA Area =================-->
	<div class="cta-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<h1>Preserving Local Histories</h1>
            <div class="testi-slider owl-carousel" data-slider-id="1">
      				<div class="item">
      					<div class="testi-item">
      						<div class="wow fadeIn" data-wow-duration="2s">
      							<p>
      								GeoGlyph aims to be a socially conscious application, it fights three main ills, loss of history, misrepresentation of our communities, and cultural death.
      							</p>
      						</div>
      					</div>
      				</div>
      				<div class="item">
      					<div class="testi-item">
      						<div class="wow fadeIn" data-wow-duration="2s">
      							<p>
      								As Boston continues to develope and grow, communities of color and the people that live within them are often a second thought. Areas like Dorchester, Mattapan, and Roxubury are constantly being devalued, pinned as the cracks in Boston's landscape.
      							</p>
      						</div>
      					</div>
      				</div>
      				<div class="item">
      					<div class="testi-item">
      						<div class="wow fadeIn" data-wow-duration="2s">
      							<p>
      								As conscious traveling app GeoGlyph works to encourage people and communities to document and value the stories that take place everyday.
      							</p>
      						</div>
      					</div>
      				</div>
      				<div class="item">
      					<div class="testi-item">
      						<div class="wow fadeIn" data-wow-duration="1s">
      							<p>
      								Later generations of communities though dispered to different areas because of rising housing cost caused by gentrification should understand and be able to visnually see their own history, not reports written by someone fromt he outside.
      							</p>
      						</div>
      					</div>
      				</div>
      			</div>
					<a href="/signup" class="primary-btn">Sign-Up</a>
				</div>
				<!-- <div class="offset-lg-1 col-lg-6">
					<img class="cta-img img-fluid" src="img/cta-img.png" alt="">
				</div> -->
			</div>
		</div>
	</div>
	<!--================ End CTA Area =================-->


	<!--================  Start Footer Area =================-->
	<footer class="footer-area">
		<div class="footer_top section_gap_top">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h5 class="footer_title">About Agency</h5>
							<p class="about-text">The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point where images and videos are used more to </p>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h5 class="footer_title">Navigation Links</h5>
							<div class="row">
								<div class="col-5">
									<ul class="list">
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Services</a></li>
										<li><a href="#">Portfolio</a></li>
									</ul>
								</div>
								<div class="col-5">
									<ul class="list">
										<li><a href="#">Team</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
										<li><a href="#">contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
					</div>
					<div class="col-lg-6 col-md-12 text-right">
						<div class="social-icons">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="js/owl-carousel-thumb.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/mail-script.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/theme.js"></script>
</body>

</html>
