<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="style.css">
  <!-- <link rel="stylesheet" href="style.scss"> -->
</head>
<body>


  <!--HEADER SECTION  -->
  <header>
    <nav>
      <ul>
        <li><a href="#">Log in</a></li>
        <li><a href="#">Glyphs</a></li>
        <li><a href="#">Locations</a></li>
        <li><a href="#">Networks</a></li>
      </ul>
      <form class="searchSite" action="index.html" method="post">
        <i class="fas fa-search"></i>
        <input type="text" name="" value="">

      </form>
    </nav>
  </header>

  <section class="introSection">

    <!-- SIGN UP SECTION  -->
    <section>
      <form action="/signup" method="post">
        <h1>GEO GLYPH</h1>
        <h2>Connect with travelers from across the globe.<h2>

          <p>Lorem ipsum dolor amet umami keytar tumblr adaptogen. Live-edge plaid iPhone yr fashion axe, prism shoreditch lyft vape normcore. Normcore banjo tumblr, hammock single-origin coffee farm-to-table small batch green juice. Gochujang synth helvetica fingerstache microdosing you probably haven't heard of them vape. 8-bit jean shorts single-origin coffee, kickstarter direct trade tbh kale chips migas. Migas jianbing quinoa franzen, XOXO skateboard vegan. Fixie freegan food truck polaroid skateboard coloring book cliche PBR&B pop-up hashtag.</p>

        <button class="btn btn-warning btn-lg" type="submit" name="button">Sign Up</button>

        <p>Already have an account?<a href="/login">Login</a></p>

      </form>
    </section>

  </section>

  <!--TODO: expand each card, create link to full profile page-->
  <section class="recentGlyphs">
    <section class="card">
      <img src="img/buildingOne.jpg" alt="">
      <span>Tembora Mohammed</span>
      <span>Boston, 42.361145 -71.057083</span>
      <p>consequat legam laboris ita e ne concursionibus ut aut eram
        aute anim occaecat.</p></section>
      <section class="card">
        <img src="img/lloyd-dirks-5H3TYR__5mo-unsplash (1).jpg" alt="">
        <span>Faisal Alotaibi</span>
        <span>Boston, 42.361145 -71.057083 </span>
        <p>consequat legam laboris ita e ne concursionibus ut aut eram
        aute anim occaecat.</p>
      </section>
      <section class="card">
        <img src="img/laura-chouette-qez2vV3yERM-unsplash.jpg" alt="">
        <span>Kaia Walters</span>
        <span>Boston,  42.361145 -71.057083</span>
        <p>consequat legam laboris ita e ne concursionibus ut aut eram
        aute anim occaecat.</p></section>
      <section class="card">
        <img src="/img/yiran-ding-IrGyuTSrkK4-unsplash.jpg" alt="">
        <span>Harmondeep Sighn</span>
        <span>Boston,  42.361145 -71.057083</span>
        <p>consequat legam laboris ita e ne concursionibus ut aut eram
        aute anim occaecat.</p></section>
      <section class="card">
        <img src="img/atikh-bana-Ycds6emp7BA-unsplash.jpg" alt="">
        <span>Michelle Bean</span>
        <span>Boston,  42.361145 -71.057083</span>
        <p>consequat legam laboris ita e ne concursionibus ut aut eram
        aute anim occaecat.</p></section>
      <section class="card">
        <img src="img/river.jpg" alt="">
        <span>Gabrielle Fonta</span>
        <span>Boston,  42.361145 -71.057083</span>
        <p>consequat legam laboris ita e ne concursionibus ut aut eram
        aute anim occaecat.</p></section>
      </section>

    <section class="news">  </section>


  </body>

  <script src="main.js" charset="utf-8"></script>
</html>












<!-- <!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>21 Savage Fan Site</h1>
        <img src="img/savage21.jpg" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html> -->
