<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/login.css">
  </head>
  <body>


    <section class="logIn">

      <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
      <span>Log in to Geo Glyph</span>
      <form action="/login" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Email" name="email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter Password" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>

      </form>
      <p>Need an account? <a href="/signup">Signup</a></p>
      <p>Or go <a href="/">home</a>.</p>

    </section>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/login.css">
  </head>
  <body>

<div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>

		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<p>No worries, join Geoglyph today to explore, learn and connect!</p>
			<label id="label-login" for="log-login-show"><a href="/signup">Signup</a></label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>

		<div class="white-panel">
      <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
      <span>Log in to Geo Glyph</span>
      <form action="/login" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter Email" name="email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Enter Password" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
        <!-- changed button  -->
      </form>
        <!-- <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p> -->

			<!-- <div class="login-show">

			</div> -->

			<div class="register-show">
				<h2>REGISTER</h2>
				<input type="text" placeholder="Email">
				<input type="password" placeholder="Password">
				<input type="password" placeholder="Confirm Password">
				<input type="button" value="Register">
			</div>
		</div>
	</div>
  </body>
</html>
