<!-- <!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>Build Your Profile</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>


    <form action="/signup" method="post">

        <div class="form-group">
            <label>User Name:</label>
            <input type="text" class="form-control" name="userName">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="form-group">
            <label>Build your Bio</label>
            <input type="text" class="form-control" name="bio">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>
</div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/signup.css">
  </head>
  <body>

<div class="login-reg-panel">
		<!-- <div class="login-info-box">
			<h2>Have an account?</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<label id="label-register" for="log-reg-show">Login</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div> -->

		<div class="register-info-box">
			<h2>Already have an account?</h2>
			<p>You know the drill, log in to continue exploring!</p>
			<label id="label-login" for="log-login-show"><a href="/login">Login</a></label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>

		<div class="white-panel">
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <!-- LOGIN FORM -->
      <form action="/signup" method="post">
        <h1>Build Your Profile</h1>
          <div class="form-group">
              <input type="text" class="form-control" name="userName" placeholder="Create a username">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <div class="form-group">
              <input type="text" id="bio" class="form-control" name="bio" placeholder="Tell us about yourself...">
          </div>

          <button type="submit" class="btn btn-warning btn-lg">Signup</button>
      </form>

			<div class="register-show">
				<h2>REGISTER</h2>
				<input type="text" placeholder="Email">
				<input type="password" placeholder="Password">
				<input type="password" placeholder="Confirm Password">
				<input type="button" value="Register">
			</div>
		</div>
	</div>
  </body>
</html>
