html{
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  width:100%;
}
.container-fluid {
    width: 100%;
    background: lightgrey; /* fallback for old browsers
    /* background: -webkit-linear-gradient(to top, #ffb347, #ffcc33) !important; /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to top, #ffb347, #ffcc33) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */ */
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
nav{
  width:100%;
  display: block;
  background-image: url(/img/banner/common-banner.jpg);
  margin-bottom: 0 0 0 0;
}
nav h1 {
  margin-top: 0px;
  font-size: 3em;
  color: #fff;
  width:50%;
}

#map{
  border: none;
  background-color: rgb(170,218,255);
  bottom: 0;
  height: 420px;
  margin:0;
  width: 100%;
}

#input {
  height: 65px;
  /* color: blue; */
  width: 100%;
  font-size: 20px;
  /* height: 100%; */
}
nav section{
  width: 50%;
}
.map section{
  border: 1px solid grey;
  padding-top: 3px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.row {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.col-md-3{
  background-color: white;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 20px 0 0 10px;
}
.col-md-6.gedf-main{
  background-color: white;
  padding: 10px;
  margin: 0 0 0 16px;
  padding-top: 20px;
}
.btn-default.btn{
  border: 1px solid #ffffff;
  padding: 7px 28px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 20px;

}
nav img{
  vertical-align: middle;
border-style: none;
height: 72px;
width: 80px;
}

form {
  /* border: 2px solid grey; */
  height: 230px;
  padding: 0 0 0 0px;
}
form section{
  height: 40px;
}

.fade:not(.show) {
    opacity: 0;
    display: none;
}
.btn-group>.btn:first-child {
    margin-left: 0;
    background: purple;
    display:none;
}
.card-title {
    margin-bottom: .75rem;
    color: purple;
}
/* .profile.card-body{
  position:fixed;
  flex: 1 1 auto;
  padding: 1.25rem;
  border: 2px solid black;
} */
.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 0rem;
}

@media (min-width: 992px) {
  .gedf-main {
      padding-left: 4rem;
      padding-right: 4rem;
  }
  .gedf-card {
      margin-bottom: 2.77rem;
  }
}



/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}
