* {
  box-sizing:border-box;
  text-decoration: none;
}

html{
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  background-color: #EDE1D1;
}
body{
  margin-top: 0;
  margin: 0 !important;
  padding: 0 !important;
}
/* ========================================================================= */
/* Header Section */
header{
  background-color: white;
  border-bottom: 5px solid padding: 0px 0 0 49px;
  width: 100%;
  height: 50px;
}
header nav{
  background-color: white;
  border-bottom: 2px solid #3895D3;
  padding: 13px 0 10px 0;
  position: fixed;
  width: 100%;
}
header nav ul li{
  color: #473335;
  display: inline-block;
  font-size: 1.2em;
  margin-left: 40px;
  padding-top: var(--ratio-percent);
}

header nav ul li a{
  color:#473335;
}
header nav ul{
  margin: 5px 0 0 0;
  width: 40%;
  float: left;
}

header nav form{
  width: 50%;
  border: 2px solid black;
  border-radius: 20px;
  overflow: auto;
  margin: 0 0 0 80px;
  float: left;
}
header nav form input{
  font-size: 20px;
  padding-left: 5px;
  width: 85%;
  border: 2px solid white;
}
header nav form i.fas.fa-search{
  font-size: 20px;
  margin: 3px 0 0 10px;
}
/*==================================================================  */
/* Introduction*/

.introSection{
  background-image: url(img/fontPage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-auto-rows: 290px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  display: grid;
  height: 690px;
  width:100%;
}

.introSection section{
  background-color: rgb(255,255,255, .8);
  border-right: none;
  border-top: none;
  border-radius: 10px;
  padding: 10px 0 0 30px;
  margin: 40px 0 0 40px;
  width: 85%;
  height: 550px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.introSection section h1{
  font-weight: bold;
  font-size: 40px;
  margin: 20px 0 0 0;
}

.introSection section input{
  font-size: 15px;
  width: 90%;
  height: 35px;
  margin-top: 20px;
  align-self: center;
}

.introSection section button{
  border: 2px solid lightgrey;
  background-color:#ffcf40;
  width: 30%;
  padding: 15px;
  margin: 60px 40px 0 0;
  float: right;
}

.introSection section button:hover {
  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
  box-shadow: 0px 1px 0px 0px #fff6af;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color: #ffec64; */
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; */
  border: 1px solid #ffaa22; */
  display: inline-block;
  cursor: pointer; */
  color: #333333; */
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  }

.introSection section button {
  border: 2px solid lightgrey;
  background-color: #ffcf40;
  width: 30%;
  padding: 15px;
  margin: 60px 40px 0 0;
  float: back-ground-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

.introSection section p{
  font-size: .70em;
}

.recentGlyphs{
  display: grid;
  margin: 45px;
  grid-auto-rows: 410px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}



$color-bg: #f8f8f8;
$card-padding: 20px;
$grid-gutter: 31px;

// Media Queries breakpoints
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;

.card{
  position: relative;
 flex: 1 1 100%;
 margin: $grid-gutter 0;
 padding: $card-padding;
 background: lighten($color-bg, 3%);

 @media screen and (min-width: $medium) {
   flex-basis: calc(33.33% - (#{$grid-gutter * 2} + #{$card-padding * 2}));
   margin: 0 $grid-gutter;
 }
}

.recentGlyphs section{
  border-radius: 10px;
  scroll-behavior: smooth;
  background-color: white;
  padding: 5px 5px 15px 5px;
  transition: transform .5s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1.006, 1);

    &::after {
      opacity: 1;
    }
  }

}

.recentGlyphs section img{
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  height: 260px;
  width: 100%;
}

.recentGlyphs section span:first-of-type{
  margin-top: 5px;
  display: block;
  font-size: 1.3em;
}

.recentGlyphs section p{
  margin-bottom: 30px;
}









































































































/* #search_container {
width: 100%;
}

form {
margin: auto !important;
}

form>div {
background-color: white;
font-size: 14px;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: start;
justify-content: flex-start;
-ms-flex-align: center;
align-items: center;
width: 80%;
max-width: 425px;
margin: 0 auto;
border: 1px solid #cccccc;
overflow: hidden;
border-radius: 6px;
}

form>div i {
font-size: 18px;
margin: 0 6px 0 10px;
}

form>div .clearButton {
color: #4975f7;
font-size: 18px;
padding: 6px;
margin: 0 6px 0 2px;
cursor: pointer;
visibility: hidden;
}

form>div .clearButton:hover {
color: #1850f5;
}

@media all and (-ms-high-contrast: none) {
form>div .clearButton {
display: none;
}
}

form>div input[type="text"] {
-ms-flex-positive: 999999;
flex-grow: 999999;
-ms-flex-negative: 1;
flex-shrink: 1;
-ms-flex-preferred-size: 90px;
flex-basis: 90px;
width: 60%;
height: 36px;
padding-left: 3px;
border: none;
box-shadow: none;
outline: none;
}

form>div input[type="submit"] {
color: white;
background-color: #4975f7;
letter-spacing: 1.5px;
-ms-flex-positive: 1;
flex-grow: 1;
-ms-flex-negative: 9999;
flex-shrink: 9999;
-ms-flex-preferred-size: 80px;
flex-basis: 80px;
height: 36px;
padding: 8px 10px 6px;
border: none;
cursor: pointer;
}

form>div input[type="submit"]:hover {
background-color: #1850f5;
}
/* End Borrowed Code */ */
